<h1 class="animated fadeIn fast" >Aplicación web de practica para SPA con Angular</h1>
<hr>
<p class="animated fadeIn">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea ducimus non eius accusantium sint consectetur ad molestias possimus aut laborum ut, nostrum deserunt nemo ratione? Soluta delectus hic ipsum recusandae itaque mollitia sunt error quos, quas, deserunt perferendis dignissimos natus culpa aspernatur magnam, esse cupiditate repellat odit obcaecati molestias consectetur quibusdam. In saepe architecto aliquam magni voluptatibus nihil nisi nostrum, tempora non minima sequi odio natus quis iure illo suscipit. Doloribus iure error possimus consequatur veritatis quibusdam. Harum facere, vitae ab aspernatur commodi a maiores, quibusdam repudiandae quia et veritatis adipisci voluptatum! Commodi ab vero illum voluptas corrupti, adipisci expedita.</p>

<div class="card animated fadeIn">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body">
    <h5 class="card-title">Title</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde a ea voluptatem veritatis tenetur doloremque quisquam quia officiis tempore nemo hic explicabo atque maiores, delectus reiciendis aliquam aliquid quidem, molestias et debitis, optio perspiciatis libero doloribus. Sunt ipsum nemo tempora.</p>
    <a [routerLink]="['/']"  class="btn btn-primary">Ir al inicio</a>
  </div>
</div>